<h2 class="text-center"> Edit My Own Product! </h2>

<div class="col-md-6 col-md-offset-3 well">
	<%= simple_form_for [:admin, @product] do |f| %>

			<%= f.input :title, label: 'Product Name' %>

			<%= f.input :description, label: 'Product Description' %>

			<%= f.input :price, label: 'Price (NTD)' %>

			<%= f.input :quantity, label: 'Quantity' %>

			<%= f.submit "Update", :disable_with => 'Submiting...', :class => "btn btn-primary" %>
	<% end %>

</div>

