<%= simple_form_for [:admin, @product], :html => {:multipart => true} do |f| %>
<div class="row">
  <div class="col-md-4">
  <div class="group">
    <div id="upload-image-holder"></div>
    <% for photo in @product.photos %>
      <%= image_tag photo.image, :style => "width:100%;" %>
    <%end%>    
    <%= f.fields_for :photos do |p| %>
      <%= p.file_field :image %>
      <%= p.hidden_field :image_cache %>
    <% end %>
  </div>
</div>

  <div class="col-md-4">      

  <div class="form-group">
    <%= f.label("標題") %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label("敘述") %>
    <%= f.text_area :description, :class => "form-control", :rows => "5" %>
  </div>
  
  <div class="form-group">
    <div class="row">
  <div class="col-xs-3">
    <%= f.label("數量") %>
    <%= f.text_field :quantity, :class => "form-control" %>
  </div></div>
  </div>
  
  <div class="checkbox">
    <label>
      <%= f.check_box :for_sale %>上架
    </label>
  </div>
  
  <div class="modal-footer">
        <%= link_to "取消", admin_products_path, :class => "btn btn-default" %>
        <%= f.submit "修改", :class => "btn btn-primary", :disable_with => 'Submiting...' %>
  </div>
 
</div>
<% end %>


