<h2 class="text-center"> All Product List! </h2>

<div class="row">

		<% @products.each do |product|%>
		
		<div class="col-md-3">
			<%= link_to image_tag(product.photos.first.image.url), product, :class => "thumbnail" %>	
			
    	</div>

    	<div class="ccol-md-9">
 				<h2> Product Name : <%= link_to product.title, admin_product_path(product.id) %></h2>

		 		<h4> Product Description : <%= product.description %></h4>
 		
 				<h4> Quantity : <%= product.quantity %></h4>
 		
 				<h4> Price : <%= product.price %></h4>
 			</div>
		<% end %>

</div>

<%= link_to("Create Product", new_admin_product_path, :class => "btn btn-primary btn-sm") %>
