<h2 class="text-center"> All Product List! </h2>

<div class="row">
	<% @products.each do |product|%>
	<div class="col-md-6">
		<%= link_to image_tag(product.photos.first.image.url), product %>
    </div>

	<div class="col-md-6">
	
 		<h2> Product Name : <%= link_to product.title, admin_product_path(product.id) %></h2>

 		<h4> Product Description : <%= product.description %></h4>
 		
 		<h4> Quantity : <%= product.quantity %></h4>
 		
 		<h4> Price : <%= product.price %></h4>
 	</div>
	<% end %>

</div>
