<div class="row">
	<div class="col-md-4"><span class="page_title">All Products</span><%= link_to "New", new_admin_product_path, :class=> "btn btn-primary", :style => "margin-left: 20px; width: 80px" %><div>
	<div class="col-md-4"></div>
</div>
<% if flash.any? %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% end %>

<hr/>
<% @product.each do |product| %>
<div class="product_item">
	<div class="product_image"></div>
		<h4 style="text-align:center"><%= product.title %></h4>
		<p style="text-align:center"><%= product.quantity %> left</p>
</div>
<% end %>
