<%= simple_form_for([:admin, @product],
                    html: {class: 'form form-horizontal' },
                    defaults: { input_html: { class: 'form-control' }}) do |f| %>
    <h2> 新增商品 </h2>
    <%= f.input :title,label: '名稱'%>
    <%= f.input :description, as: :text ,label: '描述'%>
    <%= f.input :quantity ,label: '數量'%>
    <%= f.input :price ,label: '價錢'%>
    <%= f.simple_fields_for :photos do |c| %>
        <%= c.input :image , :as => :file %>
    <% end %>
    </br>
    <%= f.button :submit,class: 'btn-primary'%>
<% end %>