<h1>新增商品界面</h1>

<hr>

  <%= simple_form_for [:admin, @product] do |f| %>
    <%= f.input :title, label: '商品名' %>
    <%= f.input :description, label: '敘述'  %>
    <%= f.input :quantity, label: '數量'  %>
    <%= f.input :price, label: '價錢'  %>
    <%= f.input :image, label: '圖片上傳'  %>
    <%= f.button :submit %>
  <% end %>

  <hr>


