


<%= form_for [:admin, @product] do |form| %>
  <div class="group">
    <%= form.label("標題")%>
    <%= form.text_field :title%>
  </div>

  <div class="group">
    <%= form.label("敘述")%>
    <%= form.text_field :description%>
  </div>


  <div class="group">
    <%= form.label("數量")%>
    <%= form.text_field :quantity%>
  </div>

  <div class="group">
    <%= form.label("價格")%>
    <%= form.text_field :price%>
  </div>

    <div class="group">
    <%= form.label("上傳")%>
    <%= form.file_field :image%>
  </div>

  <%= form.submit "submit", :disable_with=> 'Submiting....'%>
<%end%>