<%= simple_form_for [:admin, @product], :html => {:multipart => true} do |f| %>
<div class="row">
  <div class="col-md-4">
  <div class="group">
    <%= f.fields_for :photos do |p| %>
        <%= p.file_field :image, :multiple => true, name: "product[photos_attributes][][image]", style: "height:300px;width:300px;"%>
   <% end %>

  </div>
  </div>
  <div class="col-md-4">      

  <div class="form-group">
    <%= f.input :title, label: "標題" %>
  </div>
  
  <div class="form-group">
    <%= f.input :description, label: "敘述", input_html: {rows: "5"} %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-3">
        <%= f.input :price, label: "價格" %>
  </div></div>
  </div>

  <div class="form-group">
    <div class="row">
  <div class="col-xs-3">
        <%= f.input :quantity, label: "數量" %>
  </div></div>
  </div>
  
  <div class="checkbox">
    <label>
      <%= f.check_box :for_sale %>上架
    </label>
  </div>
  
  <div class="modal-footer">
        <%= link_to "取消", admin_products_path, :class => "btn btn-default" %>
        <%= f.submit "新增", :class => "btn btn-primary upload-btn", :disable_with => 'Submiting...' %>
  </div>
 
</div>
<% end %>

