
<div class="page-header">
  <h1>Product Info</h1>
</div>

<p><%= link_to("Edit", edit_admin_product_path(@product) , :class => "btn btn-mini btn-pri marypull-right")%> </p>


<div class="col-md-4">
  <%= image_tag @product.image_url.to_s %>
</div>
<div class="col-md-4">
  <h1><%= @product.title %></h1>
  <p><%= @product.description %></p>
  <p>商品數量: <%= @product.quantity %></p>
  <p>商品價格: <%= @product.price %></p>

  
</div>