<h3 class="page_title">後台管理：<%= @product.title %></h3>
<hr/>
<div class="row">
	<div class="col-md-3">
		<%= image_tag @product.default_image.image_url(:thumb).to_s if @product.default_image.present? %>
	</div>
	<div class="col-md-6">
		<table>
			<tr>
				<td style="width: 300px;height: 140px; border: 0px solid black; vertical-align: top;">
					<p style="font-size: 16px;"><%= @product.description %></p>
				</td>
			</tr>
			<tr>
				<td>
					<p style="font-weight: bold; font-size: 20px;" >剩餘數量：<%= @product.quantity %> </p>
					<span style="font-weight: bold; font-size: 20px; line-height: 0px;">價格：<%= @product.price %></span>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-3">
		<p><%= link_to "刪除", admin_product_path(@product), method: :delete, data: {confirm: "確認刪除？"}, :class => "btn btn-warning", :style => "margin-top: 160px;" %>&nbsp;<%= link_to "編輯", edit_admin_product_path(@product), :class => "btn btn-primary", :style => "margin-top: 160px;" %>&nbsp;<%= link_to "返回", admin_products_path, :class => "btn btn-primary", :style => "margin-top: 160px;" %></p>
	</div>
</div>

<% if @image.length > 1 %>
	<hr/>
	<h3>所有圖片</h3>
	<div class="row">
		<% @image.each do |i| %>
		<div class="col-md-3">
			<p><%= image_tag i.image_url(:thumb).to_s %></p>
			<p><%= link_to "刪除商品", destroy_image_admin_product_path(i), method: :delete %></p>
		</div>
		<% end %>
	</div>
<% end %>