<div >
	<div class="row">
	  <div class="col-md-4">
	    <%= image_tag @product.image.thumb.url, :class => "img-thumbnail" %>	
	  </div>
	  <div class="col-md-4">
	  	<h1><%= @product.title%></h1>
		<p><%= @product.description%></p>
		<p>數量：<%= @product.quantity %></p>
	  	<p><h2 class="text-danger">$ <%= @product.price %></h2></p>
	  </div>
	</div>
	<div class="row">
		<div class="col-md-10">
	  	  <p class="text-right"> <%= link_to "加入購物車", '#',:class => "btn btn-primary"%> </p>
		</div>
	</div>
</div>
