<div class="row">
	<div class="col-md-12"><span class="page_title">所有產品</span><div>
	<div class="col-md-12 alignright">
		<%= form_tag products_path, method: :get do %>
			<%= text_field_tag :search, params[:search], placeholder: "搜尋" %>
		<% end %>
	</div>
</div>

<hr/>

<div class="row">
<% @product.each do |product| %>
<div class="col-md-3 product_item">
	<div class="product_image_container">
		<%= link_to image_tag(product.default_image.image_url(:thumb).to_s), product_path(product) if product.default_image.present? %>
	</div>
<h4 style="text-align:center"><%= link_to product.title, product_path(product) %></h4>
<p style="text-align:center">剩餘 <%= product.quantity %> 件</p>
</div>

<% end %>
</div>