
<%@products.each do |product| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <%= image_tag product.default_photo.image.url(:sm)%>
      <div class="caption">
        <h3><%= link_to product.title,product_path(product) %></h3>
        <p><%= product.description %></p>
        <p>
          <span>數量: <%= product.quantity %> </span>
          <span>價格: <strong><%= product.price %></strong></span>
        </p>
      </div>
    </div>
  </div>
<% end %>



