<h3 class="page_title"><%= @product.title %></h3>
<hr/>
<div class="row">
	<div class="col-md-3">
		<%= image_tag @product.image_url(:thumb) %>
	</div>
	<div class="col-md-6">
		<table>
			<tr>
				<td style="width: 300px;height: 140px; border: 0px solid black; vertical-align: top;">
					<p style="font-size: 16px;"><%= @product.description %></p>
				</td>
			</tr>
			<tr>
				<td>
					<p style="font-weight: bold; font-size: 20px;" >剩餘數量：<%= @product.quantity %> </p>
					<span style="font-weight: bold; font-size: 20px; line-height: 0px;">價格：<%= @product.price %></span>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-3">
		<p><%= link_to "返回", products_path, :class => "btn btn-primary", :style => "margin-top: 160px;" %></p>
	</div>
</div>