<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag "application" %>

  <%= csrf_meta_tags %>
  
  <%= render_page_title_tag %>
  <%= render_page_description_meta_tag %>
  <%= render_page_keywords_meta_tag %>
  <%= render_page_image_link_tag %>
  <meta name="author" content="Ryan Yang">

</head>
<body>

  <div class="container">
    <%= render "common/navbar" %>

    <%= notice_message %>
    
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <li> <%= link_to("Products", admin_products_path) %> </li>
          <li> <%= link_to("Orders", admin_orders_path) %> </li>
        </ul>


      </div>
      <div class="col-md-10">

        <%= yield %>
      </div>
      
    </div>





  </div>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>

</html>
