<!DOCTYPE html>
<html>
<head>
  <title>Artstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<%= link_to "My Art Store", admin_products_path, :class => "navbar-brand" %>
	</div>
	<div class="navbar-form navbar-right">
<% if !current_user %>
	<%= link_to "Sign in", new_user_session_path, :class => "btn btn-default" %>&nbsp;<%= link_to "Sign up", new_user_registration_path, :class => "btn btn-default", :style => "margin-right: 10px;" %>
<% else %>
	<%= current_user.email %>&nbsp;<%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-default", :style => "margin-right: 10px;" %></p>
<% end %>

		
	</div>
</div>

<div class="container">
<%= yield %>
</div>

</body>
</html>
